## DataTypes & Attribute

In [2]:
import numpy as np

# numpy main data type is ndaaray

In [3]:
a1=np.array([1,2,3])
a1

array([1, 2, 3])

In [5]:
type(a1)

numpy.ndarray

In [10]:
a2 = np.array([[1, 2, 3.3],
               [4, 5, 6.5]]) 

a3 = np.array([[[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]],
               [[10, 11, 12],
                [13, 14, 15],
                [16, 17, 18]]])

In [11]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6. ]])

In [12]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [14]:
a1.shape

(3,)

In [15]:
a2.shape

(2, 3)

In [16]:
a3.shape

(2, 3, 3)

In [19]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [21]:
a1.dtype, a2.dtype , a3.dtype

(dtype('int32'), dtype('float64'), dtype('int32'))

In [23]:
import pandas as pd

In [26]:
df=pd.DataFrame(a2)

In [27]:
df

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.0

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import as pandas